{% extends 'base.html.twig' %}

{% block body %}
	<!DOCTYPE html>
	<html lang="fr">


		<body class="">


			<div class="preloader">
				<div class="preloader__image"></div>
			</div>
			<!-- /.preloader -->


			<div class="stricky-header stricked-menu main-menu main-menu-three">
				<div class="sticky-header__content"></div>
				<!-- /.sticky-header__content -->
			</div>
			<!-- /.stricky-header -->

			<!--Main Slider Start-->
			<section class="main-slider-three clearfix">
				<div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
																																																                "effect": "fade",
																																																                "pagination": {
																																																                "el": "#main-slider-pagination",
																																																                "type": "bullets",
																																																                "clickable": true
																																																                },
																																																                "navigation": {
																																																                "nextEl": "#main-slider__swiper-button-next",
																																																                "prevEl": "#main-slider__swiper-button-prev"
																																																                },
																																																                "autoplay": {
																																																                "delay": 5000
																																																                }}'>
					<div class="swiper-wrapper">

						<div class="swiper-slide">
							<div class="image-layer-three" style="background-image: url(assets/images/backgrounds/carousel1.jpg);"></div>
							<!-- /.image-layer -->

							<div class="container">
								<div class="row">
									<div class="col-xl-12">
										<div class="main-slider-three__content">
											<h2 class="main-slider-three__title">Bienvenue chez
												<br>
												Toiture Marlier</h2>
											<p class="main-slider-three__text">Votre expert en
												<br>
												couverture, charpente, étanchéité de toiture plate, isolation et désamiantage</p>
											<div class="main-slider-three__btn-box">
												<a href="/services" class="thm-btn main-slider-three__btn">
													<i class="fa fa-arrow-right"></i>
													Découvrez nos services</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="image-layer-three" style="background-image: url(assets/images/backgrounds/carousel2.jpg);height: 750px;"></div>
							<!-- /.image-layer -->

							<div class="container">
								<div class="row">
									<div class="col-xl-12">
										<div class="main-slider-three__content"></div>
									</div>
								</div>
							</div>
						</div>

						<div class="swiper-slide">
							<div class="image-layer-three" style="background-image: url(assets/images/backgrounds/carousel3.jpg);height: 750px;"></div>
							<!-- /.image-layer -->

							<div class="container">
								<div class="row">
									<div class="col-xl-12">
										<div class="main-slider-three__content"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="image-layer-three" style="background-image: url(assets/images/backgrounds/carousel4.jpg); height: 750px;"></div>
							<!-- /.image-layer -->

							<div class="container">
								<div class="row">
									<div class="col-xl-12">
										<div class="main-slider-three__content"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="image-layer-three" style="background-image: url(assets/images/backgrounds/carousel5.jpg); height: 750px;"></div>
							<!-- /.image-layer -->

							<div class="container">
								<div class="row">
									<div class="col-xl-12">
										<div class="main-slider-three__content"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="image-layer-three" style="background-image: url(assets/images/backgrounds/carousel6-1.jpg);height: 750px;"></div>
							<!-- /.image-layer -->

							<div class="container">
								<div class="row">
									<div class="col-xl-12">
										<div class="main-slider-three__content"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="image-layer-three" style="background-image: url(assets/images/backgrounds/carousel7.jpg);height: 750px;"></div>
							<!-- /.image-layer -->

							<div class="container">
								<div class="row">
									<div class="col-xl-12">
										<div class="main-slider-three__content"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="image-layer-three" style="background-image: url(assets/images/backgrounds/carousel8.jpg);height: 750px;"></div>
							<!-- /.image-layer -->

							<div class="container">
								<div class="row">
									<div class="col-xl-12">
										<div class="main-slider-three__content"></div>
									</div>
								</div>
							</div>
						</div>


					</div>


					<div class="swiper-pagination" id="main-slider-pagination"></div>

					<!-- If we need navigation buttons -->
					<div class="main-slider-three__nav">
						<div class="swiper-button-prev" id="main-slider__swiper-button-next">
							<i class="icon-left-arrow"></i>
						</div>
						<div class="swiper-button-next" id="main-slider__swiper-button-prev">
							<i class="icon-right-arrow"></i>
						</div>
					</div>

				</div>
			</section>
			<!--Main Slider End-->
			<!--About Three Start-->
			<section class="about-three">
				<div class="about-three-shape-1 float-bob-x">
					<img src="assets/images/shapes/about-three-shape-1.png" alt="">
				</div>
				<div class="about-three-img-3 float-bob-x"></div>
				<div class="container">
					<div class="row">
						<div class="col-xl-6">
							<div class="about-three__left">
								<div class="about-three__img-box wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
									<div class="about-three__img">
										<img src="assets/images/backgrounds/carousel3.jpg" alt="">
									</div>
									<div class="about-three__img-two">
										<img src="assets/images/backgrounds/supp1.jpg" style="height: 325px; width: 400px;" alt="">
									</div>
									<div class="about-three__border"></div>
								</div>
							</div>
						</div>

						<div class="col-xl-6">
							<div class="about-three__right">
								<div class="section-title text-left">
									<div class="section-sub-title-box">
										<p class="section-sub-title">A propos de nous</p>
										<div class="section-title-shape-1">
											<img src="assets/images/shapes/section-title-shape-1.png" alt="">
										</div>
									</div>
									<h2 class="section-title__title">Toiture Marlier - Expert en toiture</h2>
								</div>
								<p class="about-three__text">La société Toitures Marlier votre partenaire de confiance pour tous vos besoins en couverture, charpente, toiture plate, isolation, zinguerie, démoussage de toiture, désamiantage, photovoltaïque et aménagement de comble.</p>
								<p class="about-three__text">Créée en 2017, nos équipes sont constituée de charpentiers, couvreurs, zingueurs et plaquistes professionnels.</p>
								<p class="about-three__text">Notre priorité : être à votre écoute et vous fournir un travail d’une grande qualité en respectant les délais impartis.</p>
								<p class="about-three__text">Avec des années d’expérience et un engagement inébranlable envers la qualité, nous sommes fiers de protéger votre maison et votre famille.</p>


								<ul class="list-unstyled about-three__point">
									<li>
										<div class="icon">
											<i class="fa fa-check"></i>
										</div>
										<div class="text">
											<p>
												<b>Une étude technique préalable à tout démarrage des travaux :
												</b>faisabilité,
																																																																																				chiffrage…L’étude est le meilleur moyen d’éviter les mauvaises surprises avant
																																																																																				travaux,</p>
										</div>
									</li>
									<li>
										<div class="icon">
											<i class="fa fa-check"></i>
										</div>
										<div class="text">
											<p>
												<b>Des projets personnalisés et des idées créatives :
												</b>conseils, inspiration, créativité…
																																																																																				Nous vous accompagnons dans la personnalisation de tous vos projets,</p>
										</div>
									</li>
									<li>
										<div class="icon">
											<i class="fa fa-check"></i>
										</div>
										<div class="text">
											<p>
												<b>La sécurité d’un contrat :
												</b>le prix que nous vous annonçons est ferme et définitif, les
																																																																																				délais d’exécution sont convenus à l’avance et nous vous garantissons le bon
																																																																																				achèvement des travaux,</p>
										</div>
									</li>
									<li>
										<div class="icon">
											<i class="fa fa-check"></i>
										</div>
										<div class="text">
											<p>
												<b>Un suivi permanent de votre chantier,</b>
											</p>
										</div>
									</li>
									<li>
										<div class="icon">
											<i class="fa fa-check"></i>
										</div>
										<div class="text">
											<p>
												<b>Une réelle expertise dans la gestion de travaux :
												</b>une équipe de professionnels expérimentés et formés en permanence.</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--About Three End-->
			{# <!--Appointment Start-->
			<section class="appointment">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-lg-4">
							<div class="appointment__left" style="padding-top: 28px">
								<div class="appointment-shape-1" style="background-image: url(assets/images/shapes/appointment-shape-1.png);"></div>
								<div class="appointment__left-content">
									<h3 class="appointment__title">Prendre contact</h3>
									<p class="appointment__text">Nous vous répondrons dans les plus brefs délais</p>
								</div>
							</div>
						</div>
						<div class="col-xl-9 col-lg-8">
							<div class="appointment__right">
								<!-- Affichage des messages flash -->
								{% for message in app.flashes('success') %}
									<div class="alert alert-success">
										{{ message }}
									</div>
								{% endfor %}

								{% for message in app.flashes('error') %}
									<div class="alert alert-danger">
										{{ message }}
									</div>
								{% endfor %}
								<form action="{{ path('contact') }}" method="POST" class="appointment__form contact-form-validated" novalidate="novalidate">
									<div class="row">
										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="appointment__input-box">
												<input type="text" placeholder="Nom" name="name" required>
												<div class="appointment__input-icon">
													<i class="far fa-user"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="appointment__input-box">
												<input type="text" placeholder="Téléphone" name="Phone" required>
												<div class="appointment__input-icon">
													<i class="fas fa-phone"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="appointment__input-box">
												<input type="text" placeholder="Ville" name="Address" required>
												<div class="appointment__input-icon">
													<i class="fas fa-map-marker-alt"></i>
												</div>
											</div>
										</div>
										<div class="col-xl-6 col-lg-6 col-md-6">
											<div class="appointment__input-box">
												<button type="submit" class="thm-btn appointment__btn">
													<i class="fa fa-arrow-right"></i>
													Envoyer
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>

					</div>
				</div>
			</section>
			<!--Appointment End--> #}
		</body>
	</html>
</div>
<!-- /.page-wrapper -->


<!-- /.search-popup -->

<a href="#" data-target="html" class="scroll-to-target scroll-to-top">
	<i class="fa fa-angle-up"></i>
</a>


<!-- template js -->
<script src="assets/js/roofsie.js"></script></body></html>{% endblock %}
