{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="page-wrapper">

    <!--Blog Page Start-->
    <section class="blog-page">
        <div class="container">
            <div class="row">

            {% for comm in comms %}
                {% if comm.visibility == '1' %}
                <!--Blog One Single Start-->
                <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="100ms">
                    <div class="blog-one__single">
                        <div class="blog-one__content">
                            <div class="blog-one__user">
                                <div class="blog-one__user-content">
                                    <p>{{comm.prenom}} {{comm.nom}}</p>
                                    <h5>{{comm.ville}}</h5>
                                </div>
                            </div>
                            <h3 class="blog-one__title">
                                {% for i in range(1, comm.note) %}
                                    <i class="fas fa-star" style= "color: red"></i>
                                {% endfor %}
                                {% for i in range(1, 5 - comm.note) %}
                                    <i class="far fa-star"></i>
                                {% endfor %}
                            </h3>
                            <p class="blog-one__text">{{comm.texte}}</p>
                        </div>
                    </div>
                </div>
                <!--Blog One Single End-->
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
    <!--Blog Page End-->

</div><!-- /.page-wrapper -->
{% endblock %}
