{% extends "base.html.twig" %}


{% block body %}
    <!--Error Page Start-->
        <section class="error-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="error-page__inner">
                            <div class="error-page__title-box">
                                <h2 class="error-page__title">404</h2>
                                <h2 class="error-page__title-2">404</h2>
                            </div>
                            <h3 class="error-page__tagline">La page que vous recherchez est introuvable</h3>
                            <p class="error-page__text">Cette page n'existe pas ou plus</p>
                            <a href="/" class="thm-btn error-page__btn"><i class="fa fa-arrow-right"></i> retour à l'accueil</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
        <!--Error Page End-->
{% endblock %}