{# {% extends 'base.html.twig' %}


{% block body %}

	<!--Service Details Start-->
	<section class="service-details">
		<div class="container">
			<div class="row">
				<div class="col-xl-4 col-lg-5">
					<div class="service-details__left">
						<div class="service-details__category">
							<ul class="service-details__category-list list-unstyled">

								<li class="active">
									<a href="/demoussage">Démoussage
										<span class="fa fa-angle-right"></span>
									</a>
								</li>
								<li>
									<a href="/couverture">Couverture
										<span class="fa fa-angle-right"></span>
									</a>
								</li>

								<li>
									<a href="/photovoltaique">Panneau Photovoltaïque
										<span class="fa fa-angle-right"></span>
									</a>
								</li>

								<li>
									<a href="/charpente">Charpente
										<span class="fa fa-angle-right"></span>
									</a>
								</li>

								<li>
									<a href="/toiture">Toiture plate
										<span class="fa fa-angle-right"></span>
									</a>
								</li>
							</ul>
						</div>


					</div>
				</div>
				<div class="col-xl-8 col-lg-7">
					<div class="service-details__right">
						<div class="service-details__img">
							<img src="assets/images/services/couverture3.jpg" alt="">
							<div class="service-details__icon">
								<span class="icon-joist"></span>
							</div>
						</div>
						<div class="service-details__content">
							<h3 class="service-details__content-title">Démoussage</h3>
							<p class="service-details__text-1">
								Votre toiture doit être entretenue pour prévenir les risques d’infiltration ou les déperditions thermiques. Pour qu’elle tienne dans la durée, il convient de la nettoyer (tous les 5-6 ans, en fonction du revêtement), d’enlever les mousses et les feuilles mortes, d’améliorer son imperméabilité mais aussi de la réparer afin qu’elle conserve toute son étanchéité.
							</p>
							<p class="service-details__text-2">Toiture Marlier s’occupe de l’entretien de votre toiture pour vous.</p>
							<p class="service-details__text-3">Nous éliminons les végétaux, responsables d’un changement de couleur de vos tuiles à l’aide d’un nettoyage doux. Un nettoyage à haute pression risquerait d’endommager la couverture, c’est pourquoi il vaut mieux nous confier cette tâche. Nous nous chargeons ensuite d’appliquer un fongicide, un anti-mousse et un traitement hydrofuge.</p>
						</div>

						<div class="service-details__benefits">
							<div class="row">
								<div class="col-xl-6">
									<div class="service-details__benefits-single">
										<div class="service-details__benefits-img">
											<img src="assets/images/services/couverture1.jpg" alt="">
										</div>

									</div>
								</div>
								<div class="col-xl-6">
									<div class="service-details__benefits-single">
										<div class="service-details__benefits-img">
											<img src="assets/images/services/couverture2.jpg" alt="">
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="search-popup">
        <div class="search-popup__overlay search-toggler"></div>
        <!-- /.search-popup__overlay -->
        <div class="search-popup__content">
            <form action="#">
                <label for="search" class="sr-only">search here</label><!-- /.sr-only -->
                <input type="text" id="search" placeholder="Search Here..." />
                <button type="submit" aria-label="search submit" class="thm-btn">
                    <i class="icon-magnifying-glass"></i>
                </button>
            </form>
        </div>
        <!-- /.search-popup__content -->
    </div>
    <!-- /.search-popup -->

    <a href="#" data-target="html" class="scroll-to-target scroll-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- template js -->
    <script src="assets/js/roofsie.js"></script>
	<!--Service Details End-->
{% endblock %} #}
